.header {
  & {
    display: flex;
    flex-direction: column;
  }
  &__top {
    & {
      @include center;
      border-bottom: 1px solid #EFEFEF;
      padding: 20px 0;
    }
  }
  &__logo {
    color: rgba(241, 60, 110, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
  }
  &__search {
    margin-left: 172px;
    padding: 10px 20px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 40px;
  }
  &__contact {
    margin-left: 93px;
  }
  &__phone {

  }
  &__contact-btn {
    padding: 12px 26px;
    border: 2px solid rgba(241, 60, 110, 1);
    margin-left: 40px;
    background-color: transparent;
    border-radius: 40px;
  }
}
