.main {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
}

.img-container {
  & {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__img {
    object-fit: cover;
    object-position: center;
  }
  &__body {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: white;
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
  }
  &__text {
    margin-top: 50px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 20px;
  }
  &__btn {
    margin-top: 62px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    background-color: transparent;
    padding: 13px 45px;
    letter-spacing: 2px;
  }
}

.chairs {
  & {
    margin-top: 38px;
    display: flex;
  }
}

.chair {
  & {
    padding: 25px 0 34px;
    width: 255px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  &:nth-child(1) {
    margin-left: 0;
  }
  &__img-container {
    width: 125px;
    height: 166px;
    background-image: url(../assets/images/chair.png);
  }
  &__text {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    white-space: pre-line;
    color: #333333;;
  }
  &__price {
    margin-top: 20px;
    font-weight: 500;
    font-size: 21px;
  }
  &__btn {
    margin-top: 20px;
    padding: 9px 40px;
    background: rgba(241, 60, 110, 1);
    color: white;
    border-radius: 40px;
  }
}

.bonuses {
  & {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.bonus {
  & {
    padding: 35px 0 35px 40px;
    color: white;
    flex-basis: 48%;
    background: #F13C6E;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
  }
  &__text {
    margin-top: 25px;
    font-size: 14px;
    white-space: pre-line;
  }
  &__input {
    padding: 9px 25px;
    margin-top: 25px;
    border-radius: 30px;
    background-color: white;
  }
}
