.top-nav {
  & {
    @include center;
    background-color: #E5E5E5;
    font-size: 14px;
    padding: 17px 0;
  }
  &__list {
    display: flex;
  }
  &__link {
    & {
      margin-left: 30px;
      color: rgba(51, 51, 51, 1);
    }
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.header-nav {
  & {
    @include center;
    border-bottom: 1px solid #EFEFEF;
    padding: 30px 0;
  }
  &__list {
    @include center;
  }
  &__link {
    & {
      margin-left: 40px;
    }
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
