*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  font-size: 16px;
}

button {
  outline: none;
}

ul  {
  list-style-type: none;
}

a {
  color: inherit;
}

input, button {
  border: none;
  outline: none;
}
