@import "./mixins.scss";
@import "./reset.scss";
@import "./navs.scss";
@import "./header.scss";
@import "./main.scss";

@font-face {
  font-family: Roboto;
  src: url(../assets/Roboto-Regular.ttf);
}
