@import "../initial/variables";
@import "../initial/mixins";

.main {
  & {
    width: 60%;
    margin: 0 auto;
  }
  &__title {
   padding: 0;
   line-height: 1;
   margin-top: 50px;
  }
  &__sub-title {
    line-height: 1;
    color: rgba(0, 0, 0, 0.582);
    font-size: 25px;
  }
  &__line {
    height: 1px;
    background-color: black;
    margin: 10px 0 50px;
  }
}

%project-btn {
  display: inline-flex;
  cursor: pointer;
  font-size: 17px;
  margin: 25px 10px 0;
}

.projects {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__project {
    & {
      display: flex;
      align-items: center;
      margin: 60px 0;
    }
    &--right {
      flex-direction: row-reverse;
    }
  }
  &__project-img {
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(102, 101, 101, 0.219);
    width: 50%;
    transition: transform .1s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__project-text {
    width: 50%;
    padding-left: 50px;
  }
  &__project-title {
    font-weight: bold;
  }
  &__project-info {
    color: rgba(0,0,0,.65);
    margin-top: 10px;
  }
  &__project-btn-view {
    @extend %project-btn;
    margin-left: 0;
    align-items: center;
    // background-color: #F37832;
    background-color: #26495c;
    color: white;
    border-radius: 25px;
    padding: 3px;
    padding-left: 15px;
  }
  &__project-btn-github {
    @extend %project-btn;
    align-items: center;
    // background-color: #01AFD1;
    background-color: #c4a35a;
    color: white;
    border-radius: 25px;
    padding: 3px;
    padding-left: 15px;
  }
  &__project-btn-arrow {
    @include center;
    margin-left: 10px;
    color: white;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.295);
  }
}

@media screen and (max-width: 1130px) {
  .main {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 746px) {
  .projects {
    & {

    }
    &__project {
      & {
        // @include border;
        flex-direction: column;
      }
      &-text {
        // @include border;
        padding: 0;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .projects {
    & {}
    &__project {
      & {
      
      }
      &-img {
        width: 70%;
      }
      &-text {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 469px) {
  .projects {
    & {}
    &__project {
      & {
        // padding: 0 20px;
        margin: 40px 0;
      }
      &:nth-child(1) {
        margin-top: 0;
      }
      &-img {
        width: 100%;
      }
      &-text {
        width: 100%;
      }
    }
  }
}
