.header-nav {
  & {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
  }
  &__link {
    margin: 0 15px;
    font-size: 18px;
    user-select: none;
    color: white;
  }
  &__link--active {
    color: #9273cd;
  }
  &__phone-number {
    position: absolute;
    left: 20px;
    font-size: 20px;
    user-select: none;
  }
  &__bars {
    display: none;
  }
  &__close {
    display: none;
  }
}

@media screen and (max-width: 757px) {
  .header-nav {
    & {
      justify-content: flex-start;
      padding: 20px;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      transition: transform .2s linear;
      transform: translateX(100%);
    }
    &--opened {
      transform: translateX(0%);
    }
    &--closed {
      transform: translateX(100%);
    }
    &__link {
      color: black;
    }
    &__phone-number {
      display: none;
    }
    &__close {
      z-index: 999;
      // display: initial;
      position: absolute;
      top: 10px;
      left: 10px;
      color: rgb(0, 0, 0);
      font-size: 20px;
    }
  }  
}
