* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    padding: 20px;
    background-color: cyan;
}

#app {
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    background-color: white;
}

#colorBox {
    padding: 30px 0;
}

#fakeColor {
    font-weight: bold;
    font-size: 35px;
}

input {
    margin-top: 30px;
    padding: 5px 5px;
    font-size: 20px;
}

.center {
    text-align: center;
}

.border {
    border: 1px solid black;
}
