@import 'base';
@import 'mixins';

.align-center {
  text-align: center;
}

#wrapper {
  @include border(3px);
  padding: 10px;
  margin: 10px;
  text-align: center;

  .container {
    @include border(2px);
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    .item {
      @include border(1px);
      @include perfect-center();
      @include pointer();
      font-size: 50px;
      width: 60px;
      height: 60px;
    }
  }

  .again {
    @include border(3px);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
  }
}
