body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  box-shadow: 0 0 5px black;
  width: 500px;
  padding: 20px;
  background-color: #34495e;
}

.play-screen {
  /* display: none; */
}

.title {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.input {
  text-align: center;
  margin-top: 10px;
}

input {
  width: 70%;
  text-indent: 20px;
  font-size: 1.5rem;
  padding: 7px 0;
  outline: none;
  border: 4px solid transparent;
}

input:focus {
  border-color: yellow;
}

.score-panel {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 5px;
}

.word-panel {
  text-align: center;
  color: white;
}

.word {
  font-size: 2.5rem;
}

/* -------------- */

.results-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
}

.timeout {
  font-size: 3rem;
}

.final-score {
  margin: 20px 0;
}

.reload {
  padding: 10px;
}
