*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

body {
  height: 1000px;
}

ul {
  list-style-type: none;
}
