.app {
  display: flex;
  min-height: 400px;
}

.app__left {
  flex-basis: $nav-size;
}

.app__right {
  @include border();
  flex-grow: 1;
  min-height: 1000px;
}

@media (max-width: 981px) {
  .app__left {
    flex-basis: 0;
  }
}
