.header {
  @include border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 0 20px;

  .fa-bars {
    font-size: 30px;
  }
}

.header__logo {
  font-size: 3rem;
  font-weight: bold;
}

#bars {
  display: none;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

@media (max-width: 981px) {
  #bars {
    display: initial;
  }
}
