h2, h3, h4 {
  text-align: center;
  padding: 30px 0;
}

.main {
  
}

.main__section {
  @include border;
  margin: 100px 0;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  text-align: center;
}

// --------------------------------------------

.main__about {
  width: 100%;
  text-align: center;

  span {

  }

  p {
    text-align: center;
    white-space: pre-line;
    font-size: 1.2rem;
    line-height: 2;
  }
}

.about__subtitle {
  color: grey;
  font-weight: bold;
}

// --------------------------------------------

.main__tecks {
  width: 100%;
  padding: 20px;
}

.tecks__items {
  padding: 50px 0;
  justify-content: center;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: $item-size $item-size $item-size;
  grid-template-rows: $item-size $item-size $item-size;
}

.tecks__items__item {
  @include transition(box-shadow, .3s);
  @include shadow(1px);
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  &:hover .tecks__items__item__info {
    opacity: 1;
  }

  &:hover {
    @include shadow(5px);
  }
}

.tecks__items__item__info {
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  background-color: black;
  color: white;
  left: 0;
  border-radius: 5px;
  top: -30px;
  margin-right: 50%;
  text-align: center;
  z-index: 999;
  @include transition(opacity, .3s);
}

.tecks__additional {

}

.additional__item {
  @include shadow(1px);
  @include transition(box-shadow, .2s);
  cursor: pointer;
  padding: 20px;
  margin: 10px 0;

  &:hover {
    @include shadow(3px);
  }
}

// ------------------------

.main__projects {
  @include border;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.projects__list {
  // @include border;
}

.projects__project {
  @include shadow(1px);
  width: 50%;
  margin: 10px auto;
  padding: 20px;
}

.css-skill {
  // @include shadow(1px, rgb(14, 186, 216));
  @include transition(box-shadow, .3s);

  &:hover {
    @include shadow(3px, rgb(2, 189, 202));
  }
}

.react-skill {
  // @include shadow(1px, blue);
  @include transition(box-shadow, .3s);

  &:hover {
    @include shadow(3px, blue);
  }
}

.vue-skill {
  // @include shadow(1px, rgb(26, 221, 8));
  @include transition(box-shadow, .3s);

  &:hover {
    @include shadow(3px, rgb(26, 221, 8));
  }
}

.vanilla-skill {
  // @include shadow(1px, rgb(241, 245, 7));
  @include transition(box-shadow, .3s);

  &:hover {
    @include shadow(3px, rgb(241, 245, 7));
  }
}

// -----------------

.main__contacts {
  // @include border;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts__contact {
  @include shadow(2px);
  @include transition(box-shadow, .3s);
  text-align: center;
  width: 100px;
  margin: 0 10px 20px;

  &:hover .fa-telegram {
    color: rgb(49, 49, 180);
  }

  &:hover .fa-github {
    color: rgb(11, 11, 56);
  }

  &:hover .fa-twitter {
    color: rgb(16, 212, 203);
  }

  .contacts__icon {
    @include perfect-center;
    font-size: 3rem;
    width: 100%;
    height: 100px;
  }

  &:hover {
    @include shadow(5px);
  }

  button {
    @include border(1px, black);
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 981px) {
  
}

@media (max-width: 757px) {
  .projects__project {
    width: 100%;
  }
}
