.nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-size;
  z-index: 999;
}

.nav__link {
  @include perfect-center;
  height: 70px;
  text-transform: uppercase;

  &:hover {
    background-color: grey;
  }

  &:hover a {
    background-color: grey;
    color: white;
  }
}

#close {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

@media (max-width: 981px) {
  .nav {
    @include border;
    right: -$nav-size;
    left: initial;
  }

  #close {
    display: initial;
  }
}
