*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

body {
  
}

input, button {
  outline: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

a, a:link, a:active, a:visited {
  color: black;
  text-decoration: none;
}
