@import "initial/reset";
@import "initial/variables";
@import "initial/mixins";
@import "initial/fonts";

@import "layout/header";
@import "layout/navs";
@import "layout/footer";

.line {
  height: 3px;
  margin: 10px 0 60px;
  background-image: linear-gradient(
    139deg
    , #fb8817, #ff4b01, #c12127, #e02aff);
}

.shade {
  & {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 800;
    background-color: rgba(0, 0, 0, 0.582);
  }
  &--shown {
    display: initial;
  }
}
