.main {
  background-color: rgb(223, 208, 208);
}

.hr {
  margin: 20px 0 100px;
}

.main__info {
  @include perfect-center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 60px;
}

.main__info::before {
  content: "";
  background-image: url(../images/gallery/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.info__welcome {
  text-align: center;
  z-index: 300;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important;
  margin-top: 20px;
}

.main__about {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.about__item {
  flex-basis: 25%;
  background-color: white;
  border-radius: 30px;
  padding: 20px 0;
  text-align: center;
  margin: 0 20px;
  box-shadow: 0 0 3px black;
  cursor: pointer;

  p {
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 20px;
    line-height: 2;
  }

  &:hover {
    box-shadow: 0 0 5px black;
  }

  i {
    animation: {
      duration: .3s;
      timing-function: forwards;
      iteration-count: infinite;
    }
  }

  &:hover .fa-plane {
    color: rgb(38, 38, 182);
  }

  &:hover .fa-dollar-sign {
    color: rgb(0, 185, 25);
  }

  &:hover .fa-utensils {
    color: rgb(228, 206, 9);
  }

  &:hover i {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-name: spin;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.about__item__border {
  @include border(3px);
  @include perfect-center;
  @include mr-auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;

  i {
    font-size: 60px;
  }
}

.main__pics {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 250px 250px;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}

.pics__pic {
  overflow: hidden;
  position: relative;
  z-index: 1;

  img {
    @include border(3px, black);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width .2s linear, height .2s linear;
    border-radius: 30px;
  }

  img:hover {
    width: 130%;
    height: 130%;
  }
}

.pic__info {
  @include perfect-center;
  opacity: 0;
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(30, 92, 107, 0.445);
  transition: opacity .2s linear;

  &:hover {
    opacity: 1;
  }

  button {
    @include border(2px, white);
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    cursor: pointer;
  }
}

.main__reviews {
  display: flex;
  justify-content: space-evenly;
}

.label {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 100px;
}

.reviews__review {
  padding: 30px 0;
  width: 400px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
  transition: box-shadow .2s linear;
  background-color: white;

  h3 {
    font-size: 30px;
    margin: 15px 0;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
  }

  &:hover {
    box-shadow: 0 0 10px black;
  }
}

.review__image {
  @include border(1px, grey);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.main__book {
  display: flex;
  padding: 0 0 40px;
}

.book__form, .book__address {
  text-align: center;
  flex-basis: 50%;
}

.book__form {
  
  h2 {
    font-size: 40px;
  }
}

.form__field {
  display: flex;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 300px;
  text-indent: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  height: 50px;
  margin: 20px auto;

  input {
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
    font-size: 1.2em;
    text-indent: 10px;
  }

  i {
    @include perfect-center;
    flex-basis: 50px;
    height: 100%;
  }
}

.form__submit {
  @include border(3px, #484d9f);
  color: #484d9f;
  width: 150px;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 40px;
  padding: 15px 0;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color .2s linear;

  &:hover {
    background-color: #484d9f;
    color: white;
  }
}

.book__address {
  
  table {
    margin: 20px auto;
    width: 400px;

    td {
      padding: 10px 0;
    }
  }

  h2 {
    font-size: 40px;
  }
}

@media (max-width: 1151px) {
  .main__pics {
    grid-template-columns: 350px 350px;
    grid-template-rows: 250px 250px 250px;
  }
}

@media (max-width: 900px) {
  .main__about {
    flex-direction: column;
  }

  .about__item {
    margin: 20px 0;
  }
}

@media (max-width: 814px) {
  .main__reviews {
    flex-direction: column;
    align-items: center;
  }

  .reviews__review {
    margin: 20px 0;
    width: 100%;
  }

  .main__book {
    flex-direction: column;
  }

  .book__form {
    margin: 0 0 50px;
    
  }

  .form__field {
    width: 100%;
  }

  .book__address {
    
    table {
      width: 100%;
    }
  }
}

@media (max-width: 796px) {
  .main__pics {
    grid-template-columns: 100%;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
  }

  .pics__pic {
    
  }
}

@media (max-width: 710px) {
  .info__welcome {
    display: none;
  }
}

.main__link-btns {
  margin-top: 60px;
}

.main__link-btn {
  @include perfect-center;
  @include border(4px, rgb(255, 255, 255));
  font-weight: bold;
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 150px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;

  &:hover .link-btn__up {
    height: 100%;
  }

  &:hover {
    color: white;
  }
}

.link-btn__up {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: rgb(0, 0, 0);
  transition: height .2s linear;
}
