.main {
  display: flex;
}

.main__left {
  @include border(1px);
  flex-grow: 1;
}

.main__right {
  @include border(1px);
  flex-basis: 300px;
}

.main__nav {
  @include border();
  text-align: center;
  width: 100%;
}

.main__nav__link {
  display: block;
}

