.border {
  border: 1px solid black;
}

.pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.perfect-center {
  align-items: center;
  justify-content: center;
}

.color-white {
  color: white;
}

.indent {
  text-indent: 30px;
}
