#header {
  position: relative;
  padding: 150px;
  /* background-image: url(bg6.jpg);
  background-repeat: no-repeat; */
}

#header__links {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30px;
  right: 30px;
  /* color: white; */
  /* border: 2px solid black; */
}

#header__avatar {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#header__name {
  margin: 30px 0;
}

#header__label {
  position: absolute;
  top: 30px;
  left: 30px;
}

.header__btn {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(35, 138, 35);
  width: 150px;
}

.header__btn:hover {
  background-color: grey;
}

.header__link {
  margin: 0 20px;
}

.header__link:hover {
  color: grey;
}

#main {

}

#main__info {
  margin: 30px;
  box-shadow: 0 0 10px black;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

#main__left, #main__right {
  flex-grow: 1;
}

#main__left p,
#main__right table {
  margin: 10px 0;
}

#main__right table td {
  padding: 10px 0;
}

#main__right table {
  width: 100%;
}

#main__right table td {
  width: 50%;
}

#main__skills {
  box-shadow: 0 0 10px black;
  margin: 30px;
  padding: 20px;
}

#skills__list {

}

.skills__dropdown {
  transition-property: height;
  transition-duration: 2s;
}

.skills__skill:hover .skills__dropdown {
  height: 200px; 
}

@media (max-width: 852px) {
  #main__info {
    flex-direction: column;
  }
}

@media (max-height: 606px) {
  .header__btn {
    margin: 5px 0;
  }
}
