* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 3000px;
}

ul {
  list-style-type: none;
}

a, a:link, a:active, a:visited {
  color: blue;
}
